doctype html
html
  head
    meta(charset='utf-8')
    title Weather
    //link(rel='stylesheet', href='/css/style.css')
  body
     h1 Check the temp
      form(method='POST', action='/')
        label Zip Code
        input(type='text', name='zipcode', autofocus=true)
        button Get Temp



